.form-field{
    margin-bottom: 10px;
}

  input, button {
            padding: 10px;
            margin-bottom: 10px;
            width: -webkit-fill-available;
        }

.clear {
            background: transparent;
            border: none;
            color: white;
        }

        .solid {
            background: white;
            border: none;
            color: rgb(45, 211, 211);
        }

               .centralize {
            display: flex;
            justify-content: center;
            align-items: center;
        }

button.fab {
    width: 54px;
    height: 54px;
    border-radius: 50px;
    border: none;
    font-size: 24px;
    box-shadow: 2px 2px 2px gray;
}

button.fab.fixed {
    position: fixed;
}

button.fab.bottom {
    bottom: 32px;
}

button.fab.right {
    right: 32px;
}